.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
}

.home h1 {
  font-size: 8vmax;
  font-weight: 200;
  letter-spacing: 8px;
}

.home h2 {
  font-size: 2.5vmax;
  font-weight: 300;
  letter-spacing: 4px;
}