.App {
  text-align: center;
  width: 100vw;
  /* min-height: 100vh; */
}

main {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.left {
  width: 75%;
  /* border: 1px solid green; */
  /* margin-right: auto; */
}